$dark-grey: #354343;
$md-grey: #E1E3E3;
$light-grey: #F5FAFA;
$primary: #018A90;
$secondary: #EF0000;
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.header {
  height: 190px;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    max-height: 100%;
  }
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    img {
      width: 76px;
    }
  }
}

.image-holder {
  display: flex;
  align-items: center;
  p {
    font-size: 14px;
    padding-left: 5px;
  }
}
nav {
  background: $dark-grey;
  height: 54px;
  ul {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    list-style: none;
    color: $light-grey;
    align-items: center;
    height: 100%;
    li {
      padding-right: 50px;
      text-transform: uppercase;
      font-weight: 200;
      font-size: 14px;
    }
  }
}

.hero {
  width: 1000px;
  margin: 40px auto;
  background-image: url(../img/hero.png);
  height: 397px;
  background-size: cover;
  position: relative;
  h1 {
    color: $light-grey;
    position: absolute;
    bottom: 20%;
    font-size: 55px;
    width: 40%;
    font-weight: normal;
    left: 40px;
  }
  .button {
    display: block;
    background-color: transparentize($secondary, 0.5);
    width: 202px;
    height: 55px;
    color: $light-grey;
    text-decoration: none;
    font-size: 21px;
    border-radius: 7px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20%;
    right: 40px;
  }
}
.information {
  max-width: 1000px;
  display: flex;
  margin: auto;
  .categories {
    height: 371px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .holder {
    display: flex;
    align-items: center;
    h6 {
      padding-left: 10px;
      width: 171px;
      font-size: 18px;
      color: $dark-grey;
      font-weight: 500;
    }
  }
  .selectedText {
    background: $md-grey;
    width: 100%;
    padding: 40px;
    h3 {
      color: $dark-grey;
      font-size: 36px;
    }
    .lineBreak {
      height: 3px;
      width: 100%;
      background: $primary;
      margin: 20px 0;
    }
  }
  .textContainer {
    display: flex;
    .leftText, .rightText {
      width: 50%;
      padding: 0 20px;
    }
    .leftText {
      line-height: 25px;
    }
    .rightText {
      li {
        line-height: 25px;
      }
    }
  }
}
